.cdtproject
.config
.config.old
.cproject
.menuconfig.log
.project
.settings
.simulated_eeprom.bin
.subdirs
borgsim
borgsim.exe
config.mk
docs/html
docs/latex
gmon.out
image
image.bin
image.elf
image.hex
image.lst
image.map
image.srec
image_eeprom.bin
image_eeprom.hex
image_eeprom.srec
obj_avr
obj_sim
scripts/lxdialog/*.o
scripts/lxdialog/a.exe
scripts/lxdialog/lxdialog
scripts/lxdialog/lxdialog.exe
src/animations/bitmapscroller/obj_avr
src/animations/bitmapscroller/obj_sim
src/animations/obj_avr
src/animations/obj_sim
src/autoconf.h
src/borg_hw/obj_avr
src/can/obj_avr
src/can/obj_sim
src/games/breakout/obj_avr
src/games/breakout/obj_sim
src/games/snake/obj_avr
src/games/snake/obj_sim
src/games/space_invaders/obj_avr
src/games/space_invaders/obj_sim
src/games/tetris/obj_avr
src/games/tetris/obj_sim
src/joystick/obj_avr
src/joystick/obj_sim
src/menu/obj_avr
src/menu/obj_sim
src/random/obj_avr
src/random/obj_sim
src/rfm12/obj_avr
src/rfm12/obj_sim
src/scrolltext/obj_avr
src/scrolltext/obj_sim
src/simulator/obj_sim
src/smallani/obj_avr
src/smallani/obj_sim
