.cdtproject
.config
.config.old
.cproject
.menuconfig.log
.project
.settings
.simulated_eeprom.bin
.subdirs
animations/bitmapscroller/obj_avr
animations/bitmapscroller/obj_sim
animations/obj_avr
animations/obj_sim
autoconf.h
borg_hw/obj_avr
borgsim
borgsim.exe
can/obj_avr
can/obj_sim
config.mk
games/breakout/obj_avr
games/breakout/obj_sim
games/snake/obj_avr
games/snake/obj_sim
games/space_invaders/obj_avr
games/space_invaders/obj_sim
games/tetris/obj_avr
games/tetris/obj_sim
gmon.out
html
image
image.bin
image.elf
image.hex
image.lst
image.map
image.srec
image_eeprom.bin
image_eeprom.hex
image_eeprom.srec
joystick/obj_avr
joystick/obj_sim
latex
menu/obj_avr
menu/obj_sim
obj_avr
obj_sim
random/obj_avr
random/obj_sim
rfm12/obj_avr
rfm12/obj_sim
scripts/lxdialog/a.exe
scripts/lxdialog/lxdialog
scripts/lxdialog/lxdialog.exe
scripts/lxdialog/*.o
scrolltext/obj_avr
scrolltext/obj_sim
simulator/obj_sim
smallani/obj_avr
smallani/obj_sim
